.Display {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .Display::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }
  
  .Display * {
    position: relative;
    z-index: 2;
  }
  
  .Display h1, .hero h2 {
    color: white;
  }
  
  .Display h1 {
    font-size: 50px;
    padding-top: 140px;
    margin-top: 0;
  }

  
